#editButton {
    -fx-border-color: #ec8904;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
	-fx-background-color: #ec8904;
}

#editButton:pressed{
	-fx-background-color: #BA6D05;
	-fx-border-color: #BA6D05;

}

#cancelButton{
	-fx-border-color: #DADADA;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
	-fx-background-color: #E9E9E9;
}

#cancelButton:pressed{
	-fx-background-color: #BDBDBD;
	-fx-border-color: #BDBDBD;

}

#leftBox{
	-fx-background-color: #FFE5C2;
}