#fondo {
	-fx-background-color: #FFFFFF;
}

#logInButton{
	-fx-border-color: #56bdeb;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
	-fx-background-color: #56bdeb;
	-fx-text-fill: black;
}

#logInButton:pressed{
	-fx-background-color: #3B8D90;
	-fx-border-color: #3B8D90;
	-fx-text-fill: white;
}

#cancelButton{
	-fx-border-color: #DADADA;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
	-fx-background-color: #E9E9E9;
	-fx-text-fill: black;
}

#singUpButton{
	-fx-border-color: #DADADA;
	-fx-border-width: 2px;
	-fx-border-style: solid;
	-fx-border-radius: 3px;
	-fx-background-color: #E9E9E9;
	-fx-text-fill: black;
}

#leftBox{
	-fx-background-color: #F0F0F0;

}
